Q1. Create one variable containing following type of data:

In [40]:
#(i) string
my_string= "My name is Krunal"
print(my_string)

My name is Krunal

In [41]:
#(ii) list
my_list = [1,5,8,12,556,79,99]
print(my_list)

[1, 5, 8, 12, 556, 79, 99]

In [42]:
#(iii) float 
my_age = 28.6
print(my_age)

28.6

In [43]:
#(iv) Tuple
my_tuple = (20, 10, 30)
print(my_tuple)

(20, 10, 30)

Q2. Given are some following variables containing data:

In [20]:
#(ii)
var2 = '[ DS , ML , Python]'

In [21]:
type(var2)

str

In [22]:
#(i)
var1 = ''

In [23]:
type(var1)

str

In [16]:
#(iii)
var3 = ['DS', 'ML', 'Python']

In [17]:
type(var3)

list

In [18]:
#(iv)
var4 = 1.0

In [19]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

In [25]:
# (i) '/' (Divison operator)
a = 11
b = 3
result = a/b
print(result)

3.6666666666666665

In [26]:
# (ii) '%' (Modulus Operator)
a = 11
b = 3
result = a % b
print(result)

2

In [27]:
# (iii) '//' (Floor Divison Operator)
a = 11
b = 3
result = a // b
print(result)

3

In [28]:
# (iv) '**' (Exponentiation Operator)
a = 11
b = 3
result = a ** b
print(result)

1331

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
my_list = [10, 3.14, 'Hi', True, [1, 2, 3], {'name': 'John', 'age': 25}, None, (4, 5, 6), False, 'World']

for element in my_list:
    print(f"Element: {element} | Data Type: {type(element)}")

Element: 10 | Data Type: <class 'int'>
Element: 3.14 | Data Type: <class 'float'>
Element: Hi | Data Type: <class 'str'>
Element: True | Data Type: <class 'bool'>
Element: [1, 2, 3] | Data Type: <class 'list'>
Element: {'name': 'John', 'age': 25} | Data Type: <class 'dict'>
Element: None | Data Type: <class 'NoneType'>
Element: (4, 5, 6) | Data Type: <class 'tuple'>
Element: False | Data Type: <class 'bool'>
Element: World | Data Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [30]:
A = 36
B = 6
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"Number A is divisible by B {count} times.")

Number A is divisible by B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [32]:
my_list = [4, 9, 12, 15, 17, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

4 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
17 is not divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
36 is divisible by 3.
39 is divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
54 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
69 is divisible by 3.
72 is divisible by 3.
75 is divisible by 3.
78 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

(i) Immutable Data Types:
Immutable data types are those whose values cannot be changed once they are created. If you need to modify an immutable object, you create a new object with the desired value

In [35]:
# (i) int
x = 10
x += 5 # Creating a new object with the value 15
print(x)

15

In the above example, when 'x' is modified, a new integer object is created with the value 15. The original integer object with the value 10 remains unchanged.

In [36]:
# (ii) float
y = 3.14
y = 2.71  # Creating a new object with the value 2.71
print(y)

2.71

Similarly, when 'y' is assigned a new value, a new float object with the value 2.71 is created.

(ii) Mutable Data Types:
Mutable data types, on the other hand, allow modifications to their values after creation.

In [37]:
# (i) List
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the original list by adding an element
print(my_list)

[1, 2, 3, 4]

In the above example, the original list [1, 2, 3] is mutable, allowing the addition of a new element using the append() method.

In [38]:
# (ii) Dictionary
my_dict = {'name': 'John', 'age': 28}
my_dict['age'] = 30  # Modifying the value associated with the 'age' key
print(my_dict)

{'name': 'John', 'age': 30}

The dictionary value associated with the key 'age' is modified, changing it from 29 to 30.